.color-input-container {
  display: flex;
  align-items: center;
}

.color-input {
  margin-right: 4px;
  width: 30px;
}

.label {
  text-align: center;
  padding-right: 6px;
  margin: 0;
  font-size: 1rem;
}

@media(max-width: 1024px) {
  .color-input-container {
    flex-direction: column;
  }
  .color-input {
    margin-right: 0;
  }
}