/*I feel like that's a bad idea to put "container" for everything in "Calendar.css". 
Should've used something more general*/
.container {
  display: flex;
  align-items: top;
  justify-content: space-around;
  padding-top: 10px;
}

@media(max-width: 768px) {
  .container {
    flex-direction: column;
  }
}