.grid-date-box {
  display: grid;
  background-color: cornsilk;
  grid-template-rows: repeat(6, 60px);
  grid-template-columns: repeat(7, 60px);
  width: auto;
}

.date-box {
  display: flex;
  margin: 6px;
  cursor: pointer;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 1rem;
  flex-direction: column;
}

.day-of-the-month {
  font-size: 1.2rem;
}

@media(max-width: 1024px) {
  .grid-date-box {
    grid-template-rows: repeat(6, 55px);
    grid-template-columns: repeat(7, 55px);
  }
}

@media(max-width: 768px) {
  .grid-date-box {
    max-width: 385px;
  }
}

@media(max-width: 425px) {
  .grid-date-box {
    grid-template-rows: repeat(6, 50px);
    grid-template-columns: repeat(7, 50px);
    max-width: 350px;
  }

  .day-of-the-month {
    font-size: 1rem;
  }
}

@media(max-width: 320px) {
  .grid-date-box {
    grid-template-rows: repeat(6, 46px);
    grid-template-columns: repeat(7, 46px);
    max-width: 322px;
  }

  .day-of-the-month {
    font-size: 0.8rem;
  }
}

.date-grid-container {
  align-items: center;
  display: flex;
  flex-direction: column;
}



.date-box {
  background-color: rgb(95, 158, 160);
}

.date-box-exist {
  background-color: rgb(202, 87, 89);
}

.date-box:hover,
.date-box-exist:hover {
  border: 2px solid black;
}

.not-current-month {
  opacity: 0.6;
}

.current-unix {
  background-color: lime;
  border: 2px solid green;
}