.journal-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: auto;
  
}
.journal-styling {
  border: 4px solid black;
  background: white;
  border-style:double;
}
.journal-inputs {
  margin-top: 2px;
  border-bottom: 1px solid black;
  display: flex;
}
.journal-text-input .ProseMirror {
  overflow-y: auto;
  outline: none;
  box-sizing: border-box;
  width: auto;
  height: 280px;
  max-width: 680px;
}
